doctype html
html
  head
    title
      = public._data[current.source].title

    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="The place where all things npm will one day be documented")

    link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Source+Code+Pro:400,600,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', type='text/css', href='/styles/index.css')

    block head

  body

    header
      section
        h1
          img(src="/images/npm-logo.png")
          = "Documentation"

    nav
      h2 Contents
      for doc, slug in public._data
        a(href="/#{slug}" class=(current.path[0] === slug ? "active" : ""))= doc.title
        if doc.subpages
          for subpage, subslug in doc.subpages
            a.subpage(href="/#{slug}/#{subslug}" class=(current.source === subslug && current.path[0] === slug ? "active" : ""))= subpage.title
      a(href="https://www.npmjs.org")="npm Home"

    section
      != yield

    footer
