<div class="container">
  <div id="page">
    {{#if page.heading}}
    <h1>{{page.heading}}</h1>
    {{/if}}
    {{{ page.content }}}

    <p class="faint italic">
      Last modified {{page.modified}}.
    </p>

    {{#if page.edit_url}}
      <p class="faint italic">
         Want to help improve this document?
         <a href="{{page.edit_url}}">Submit a pull request!</a>
      </p>
    {{/if}}

  </div>
</div>
