<div class="container">
  <div id="page">
    {{#if page.heading}}
    <h1>{{page.heading}}</h1>
    {{/if}}
    {{{ page.content }}}

    <p class="faint italic">
      Page last modified {{{ page.modified }}}
    </p>

  </div>
</div>
