[data-page=fourohfour]

  #logo
    display none

  nav
    display none

  .toc
    display block

  h3
    color #999
    text-align center
    text-transform none
    a
      color npmred
      text-decoration none
      &:hover
        text-decoration underline

  a.fourohfour
    img
      margin 60px 0 20px 0
