fonts = 'Source Sans Pro', 'Lucida Grande', sans-serif
codefonts = 'Source Code Pro', 'Courier', sans-serif

npmred = #cb3837
subpage-link-color = #666
subpage-link-color-active = npmred
text-color = #333
text-font-size = 18px

sectionWidth = 700px
navWidth = 240px
headerHeight = 30px
homepageWidth = 1100px
mobileColumnMaxWidth = 480px
breakpoint = navWidth*2 + sectionWidth
mobileVideoBreakpoint = mobileColumnMaxWidth

videoHeightDesktop = 480px
videoHeightMobile = 300px

centeredColumn(w)
  position relative
  margin 0 auto
  max-width w

pushLeft(n)
  -webkit-transform translateX(n)
  -moz-transform translateX(n)
  transform translateX(n)

columns(n)
  -webkit-columns n
  -moz-columns n
  columns n

column-gap(n)
  -webkit-column-gap n
  -moz-column-gap n
  column-gap n

column-break-inside(n)
  column-break-inside n
  -webkit-column-break-inside n
  -moz-column-break-inside n
  // Firefox workaround
  // https://stackoverflow.com/a/7785711
  page-break-inside n
