[data-page=index]

  .toc
    display block

  #logo
    position relative
    top 0
    left 0
    display block
    width 100%
    text-align center
    img
      display inline-block
      max-width 200px
      margin-top 20px

  nav
    display none

  h1
    color black
    text-align center
    font-size 48px
    font-weight 400
    padding 0
    margin 15px 0 0 0
    text-transform lowercase
