fonts = 'Source Sans Pro', 'Lucida Grande', sans-serif
codefonts = 'Source Code Pro', 'Courier', sans-serif

npmred = #cb3837
subpage-link-color = #666
subpage-link-color-active = npmred

sectionWidth = 600px
navWidth = 240px
headerHeight = 150px

*, *:before, *:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

body
  font-family fonts
  color #333
  margin 0
  padding 0
  font-size 16px

a
  color npmred

header
  background npmred
  height headerHeight

#logo
  max-width 100px
  position absolute
  top headerHeight + 30px
  left 30px


.container
  position relative
  margin 0 auto
  max-width sectionWidth
  padding 0 15px

#page
  margin-top 30px
  transform translateX(-120px)

  h1
    font-size 36px
    font-weight 600
    letter-spacing -0.6px

  h2
    font-size 24px
    text-transform capitalize
    font-weight 600

p
  line-height 1.5
  font-weight 400

nav
  position absolute
  top headerHeight + 30px
  right 40px
  margin-bottom 100px
  width navWidth
  h2
    font-size 18px
    font-weight 600
    padding-left 0
    // text-transform capitalize
    &[title="api"], &[title="cli"]
      text-transform uppercase
    a
      text-decoration none

  .pages
    // display none

    a
      display block
      line-height 1.5
      // padding 0px 10px
      margin 2px 0
      text-decoration none
      // color rgba(npmred, 0.6)
      // transition all 0.2s
      // border-left 3px solid transparent
      color subpage-link-color
      // padding-left 20px
      font-size 14px
      // &:before
      //   content: "\2022"
      //   padding-right 6px
      &:hover, &.active
        color subpage-link-color-active
        text-decoration underline
        // border-left-color subpage-link-color
        // border-left 3px solid npmred
        // color rgba(npmred, 1)


footer
  margin 150px 0 0 0
  a
    display block

@media only screen and (max-width: navWidth + sectionWidth)
  nav
    position relative
    top 0
    left 0
    width 100%
