fonts = 'Source Sans Pro', 'Lucida Grande', sans-serif
codefonts = 'Source Code Pro', 'Courier', sans-serif

npmred = #cb3837
subpage-link-color = #666
subpage-link-color-active = npmred
text-color = #333

sectionWidth = 640px
navWidth = 240px
headerHeight = 20px
homepageWidth = 1100px

centeredColumn(w)
  position relative
  margin 0 auto
  max-width w

*
  box-sizing: border-box

body
  font-family fonts
  color text-color
  margin 0
  padding 0
  font-size 18px

a
  color npmred

header
  height headerHeight
  background npmred

#logo
  display block
  position absolute
  top headerHeight + 30px
  left 30px
  width 100px

.container
  centeredColumn sectionWidth
  padding 0 15px

h1
  font-size 36px
  font-weight 600
  letter-spacing -0.6px

#page
  margin-top 30px
  transform translateX(-120px)

h1
  font-size 36px
  font-weight 600
  letter-spacing -0.6px

h2
  font-size 24px
  // text-transform capitalize
  font-weight 600
  a
    color text-color
    &:hover
      color npmred
p
  line-height 1.5
  font-weight 400

.faint
  opacity 0.7

.centered
  text-align center

.italic
  font-style italic

[title="CLI"]
  &:after
    content "(Command Line Interface)"

nav
  position absolute
  top headerHeight + 30px
  right 40px
  margin-bottom 100px
  width navWidth

  h2
    font-size 18px
    font-weight 600
    padding-left 0
    a
      text-decoration none

  .pages
    // display none

    a
      display block
      line-height 1.5
      margin 2px 0
      text-decoration none
      color subpage-link-color
      font-size 14px
      &:hover, &.active
        color subpage-link-color-active
        text-decoration underline


[data-page=index]

  #logo
    display none

  nav
    display none

  h1
    color black
    text-align center
    font-size 50px
    padding-top 10px
    text-transform lowercase
    // padding-top 120px

  h2
    text-transform lowercase
    centeredColumn homepageWidth
    margin-top 60px
    margin-bottom 10px
    &:after
      color rgba(text-color, 0.4)

  ul.pages
    list-style none
    margin 0
    padding 0
    line-height 2
    centeredColumn homepageWidth
    -webkit-columns 3
    -moz-columns 3
    columns 3
    -webkit-column-gap 60px
    -moz-column-gap 60px
    column-gap 60px

    a
      display inline-block
      // min-width 150px
      text-decoration none
      // font-size 18px
      font-weight 600
      &:hover
        text-decoration underline
    span
      font-size 16px

footer
  margin 150px 0 100px 0
  p
    text-align center
    color rgba(text-color 0.6)

@media only screen and (max-width: navWidth + sectionWidth)
  nav
    position relative
    top 0
    left 0
    width 100%
