@import "_config"
@import "_homepage"
@import "_404"

img
  width 100%

*
  box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box

body
  font-family fonts
  background-color #fff
  color text-color
  margin 0
  padding 0
  font-size text-font-size

a
  color npmred

header
  background npmred

#www-link
  color white
  text-decoration none
  padding 0 10px
  font-size 14px
  line-height 2.5

#logo
  display block
  position absolute
  top headerHeight + 50px
  left 40px
  width 130px

.container
  centeredColumn sectionWidth
  padding 0 15px

#page
  margin-top 30px
  .pageHeading
    text-decoration underline

.youtube-video
  width 100%
  height videoHeightDesktop
  iframe
    width 100%
    height 100%
  @media only screen and (max-width: mobileVideoBreakpoint)
    height videoHeightMobile

h1
  font-size 48px
  font-weight 600
  letter-spacing -0.6px
  line-height 1.2
  padding 15px 0 0px 0

h1.subtitle
  font-size 30px
  margin-top -45px
  color #444
  padding-bottom 20px

h2
  font-size 24px
  font-weight 600

h1,h2,h3
  a
    color text-color
    text-decoration none
    &:hover
      color npmred
      text-decoration underline
      
p
  line-height 1.5
  font-weight 400
  &.colophon
    margin-top 40px
    padding-top 10px
    font-size 16px
    border-top 2px solid rgba(text-color 0.2)
    text-align center
    color rgba(text-color 0.6)

ul
  margin 0
  padding 0 0 0 18px
  li
    padding 2px 0

dl
  dt
    font-weight bold

pre code
  display block
  overflow-x auto
  color #F3F3F3
  background none repeat scroll 0% 0% #444
  margin 15px 0
  font-weight normal
  padding 5px 15px

code
  color #444
  margin 0 5px
  font-weight bold

.faint
  opacity 0.7

.centered
  text-align center

.italic
  font-style italic

nav
  position absolute
  top headerHeight + 120px
  left 0px
  padding 0 0 100px 40px
  margin-bottom 100px
  width navWidth

  .smallLink
    font-size 13px

  section.active
    h2
      a
        color npmred
    .pages
      display block

  h2
    font-size 18px
    font-weight 600
    padding-left 0
    a
      text-decoration none
      color text-color

  .pages
    display none

    a
      display block
      line-height 1.6
      margin 0
      padding-left 10px
      text-decoration none
      color subpage-link-color
      font-size 15px
      border-left 3px solid transparent
      transition all 0.2s
      &:hover, &.active
        color subpage-link-color-active
        text-decoration none
        border-color subpage-link-color-active

footer
  margin 150px 0 100px 0

  .logo img
    max-width 300px
    margin-bottom 40px

  p
    font-size 16px
    text-align center
    color rgba(text-color 0.7)


@media only screen and (max-width: breakpoint)

  #logo
    position relative
    top 0
    left 0
    display block
    width 100%
    text-align center
    img
      display inline-block
      max-width 300px
      margin-top 40px

  nav
    display none
    position relative
    top 0
    left 0
    width 100%

  header
    display none

  #page
    margin-top 0px
    padding 10px

.toc

  // Disabled on all pages except / and 404
  display none

  h2
    centeredColumn homepageWidth
    margin-top 30px
    margin-bottom 10px
    &:after
      color rgba(text-color, 0.4)

ul.pageColumns
  list-style none
  margin 0
  padding 0
  line-height 2
  centeredColumn homepageWidth
  columns 3
  column-gap 60px

  li
    column-break-inside avoid

  a
    text-decoration none
    font-weight 600
    &:hover
      text-decoration underline
  span
    font-size 16px


@media only screen and (max-width: breakpoint)

  ul.pageColumns
    -webkit-columns 1
    -moz-columns 1
    columns 1
    centeredColumn(mobileColumnMaxWidth)

  .toc
    section
      padding 50px 20px 0 20px
    h2
      centeredColumn(mobileColumnMaxWidth)
