fonts = 'Source Sans Pro', 'Lucida Grande', sans-serif
codefonts = 'Source Code Pro', 'Courier', sans-serif

npmred = #cb3837

body
  font-family fonts
  color #333
  margin 0
  padding 0

a
  color npmred

header
  border-top 10px solid npmred

  h1
    line-height 40px
    vertical-align top
    font-size 36px
    color rgba(black, 1)
    img
      display inline-block
      max-height 50px
      margin-right 15px

section
  position relative
  margin 0 auto
  max-width 600px
